{% extends "admin/base_site.html" %}{% load i18n %}

{% block content %}
<h1>{% blocktrans %}Add {{query_nb}} selected items to a crawl{% endblocktrans %}</h1>
<div id="content-main">
  <form action="." method="post">
    {% csrf_token %}
    {{form}}
    &nbsp;
    <input type="hidden" name="action" value="add_to_crawl" />
    <input type="submit" name="apply" value="{% trans 'Add' %}"/>
    {% for pk in items %}
    <input type="hidden" name="_selected_action" value="{{ pk }}" />{% endfor %}
  </form>
</div>
{% endblock %}